@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a class='btn btn-primary btn-sm' href="/Clients/Create">Small Primary button</a>
<a class='btn btn-secondary btn-sm' href="/Clients/Create">Small secondary button</a>
<a class='btn btn-primary btn-sm' href="/Clients/Create">Small Primary button</a>
<a class='btn btn-outline-danger' href="/Clients/Edit">Outline danger button</a>
<a class='btn btn-block' href="/Clients/Index">btn block index</a>
<!-- HTML !-->
<a class='btn button-rainbow' href="/Clients/Index">rainbow</a>
    <button class="button-rainbow" role="button">Button 85</button>



</body>



</html>