@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a class='btn btn-primary btn-sm' href="/Clients/Create">Small Primary button</a>
<a class='btn btn-secondary btn-sm' href="/Clients/Create">Small secondary button</a>
<a class='btn btn-primary btn-sm' href="/Clients/Create">Small Primary button</a>
<a class='btn btn-outline-danger' href="/Clients/Edit">Outline danger button</a>

